<section>
    <div class="landing-title-div" id="top">
        <p>{{ 'landingpage.frontend' | translate }}</p>
        <p>{{ 'landingpage.developer' | translate }}</p>
        <div class="line-name-div"><img src="assets/img/vector_line.png">{{ 'landingpage.name-line' | translate }}</div>
        <div class="mail-arrow-div">
            <div class="landing-email-div"><a href="mailto:marco.marrocu@hotmail.de">{{ email }}</a></div>
            <div class="landing-arrow-div">
                <div class="arrow-animate-div"><img class="arrow" src="assets/icons/arrow_down.png"></div>
                <p>{{ 'landingpage.scroll-text-one' | translate }}</p>
                <p>{{ 'landingpage.scroll-text-two' | translate }}</p>
            </div>
        </div>
    </div>
</section>