<section>
    <div class="landing-title-div">
        <p>Frontend</p>
        <p>Developer</p>
        <div class="line-name-div"><img src="assets/img/vector_line.png">Marco Marrocu</div>
        <div class="mail-arrow-div">
            <div class="landing-email-div"><a href="#">{{ email }}</a></div>
            <div class="landing-arrow-div">
                <div class="arrow-animate-div"><img class="arrow" src="assets/icons/arrow_down.png"></div>
                <p>Scroll</p>
                <p>Down</p>
            </div>
        </div>
    </div>


</section>