@import '../../assets/fonts/fonts.scss';
@import '../../styles.scss';

section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;

    border: 1px solid red;

}

.landing-title-div {
    width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Overpass;
    font-size: clamp(2.25rem, 1.5592rem + 3.6842vw, 4.875rem);
    font-weight: 700;
    letter-spacing: 1%;
    margin-top: 204px;

    >p {
        font-family: Syne;
        color: $black;
        font-size: clamp(2.8125rem, 1.4474rem + 7.2807vw, 8rem);
        font-weight: 800;
        text-align: center;
    }

    .line-name-div {
        width: 1019px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Overpass;
        font-size: 48px;
        font-weight: 700;
        color: $accent-green;
    }

    .mail-arrow-div {
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .landing-email-div {
        height: 27px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >a {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            text-decoration: none;
            color: $black;
            font-family: Overpass;
            font-weight: 300;
            font-size: 22px;
            line-height: 22px;
        }
    }

    .landing-arrow-div {
        width: 116px;
        gap: 6px;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        >div {
            width: 116px;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }

        .arrow {
            animation: arrow-slide-down 2s infinite;
        }

        >p {
            font-family: Overpass;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: -0.025em;
        }
    }
}



@keyframes arrow-slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1564px){
    section{
        width: 100% !important;
        max-width: 1240px !important;
    }
}

@media (max-width: 1461px){
    section,
    .landing-title-div,
    .line-name-div{
        width: 100% !important;
        max-width: 800px !important;
        >p{
            font-size: 90px;
        }
    }

    .line-name-div{
        >p{
            font-size: 23px !important;
        }

        >img{
            max-width: 50% !important;
        }
    }

    .landing-email-div{
        >a{
            font-size: 20px !important;
        }
    }

    .landing-arrow-div{
        >p{
            font-size: 20px !important;
        }
    }
}