<section>
    <p class="references-headline">{{ 'references.references-headline' | translate}}</p>
    <div class="references-description">
        <p>{{ 'references.references-description-one' | translate}}</p>
        <p>{{ 'references.references-description-two' | translate}}</p>
    </div>
    <div class="references-main-div">
        <div class="reference-one-div">
            <div class="quote-div"></div>
            <p class="reference-name">A.Argenziano</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">{{ 'references.reference-one-content' | translate}}</p>
        </div>
        <div class="reference-two-div">
            <div class="quote-div"></div>
            <p class="reference-name">J.Lenz</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">{{ 'references.reference-two-content' | translate}}</p>
        </div>
        <div class="reference-three-div">
            <div class="quote-div"></div>
            <p class="reference-name">Vincent G.</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">{{ 'references.reference-three-content' | translate}}</p>
        </div>
    </div>
    <div class="arrow-div">
        <div id="refAnimationDiv" class="arrow-animation-div" (mouseenter)="onMouseOver()">
            <img src="assets/icons/arrow_dl.png">
        </div>
    </div>
</section>