<section>
    <p class="references-headline">References</p>
    <div class="references-description">
        <p>I thrive both independetly and as part of a team. Here´s</p>
        <p>what my colleagues have to say about working with me.</p>
    </div>
    <div class="references-main-div">
        <div class="reference-one-div">
            <img class="quote-icon" src="../../assets/icons/quote.png">
            <p class="reference-name">A.Argenziano</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">
                "Marco is an extremely reliable colleague who can be counted on at any time. 
                He is very cooperative within the team and supports his colleagues with his positive attitude. 
                His creative approach to challenges makes him a valuable team member."
            </p>
        </div>
        <div class="reference-two-div">
            <img class="quote-icon" src="../../assets/icons/quote.png">
            <p class="reference-name">J.Lenz</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">
                Marco was not only super reliable, 
                but also always created a relaxed and motivating team atmosphere with his humorous personality. 
                His constructive and creative suggestions consistently advanced the project.
            </p>
        </div>
        <div class="reference-three-div">
            <img class="quote-icon" src="../../assets/icons/quote.png">
            <p class="reference-name">Name</p>
            <p class="reference-description">Description</p>
            <p class="reference-content">Content</p>
        </div>
    </div>
    <div class="arrow-div"><img src="../../assets/icons/arrow_down_left.png"></div>
</section>