<section>
    <p class="references-headline">Referenzen</p>
    <div class="references-description">
        <p>Ich arbeite sehr gerne im Team aber auch selbstsändig.</p>
        <p>Hier ist was meine Kollegen über die Zusammenarbeit mit mir sagen.</p>
    </div>
    <div class="references-main-div">
        <div class="reference-one-div">
            <div class="quote-div"></div>
            <p class="reference-name">A.Argenziano</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">
                Marco ist ein äußerst zuverlässiger Kollege, auf den man sich immer verlassen kann. 
                Er arbeitet gut im Team, unterstützt andere mit seiner positiven Einstellung und 
                trägt durch seine kreative Problemlösungsfähigkeit zum Erfolg bei.
            </p>
        </div>
        <div class="reference-two-div">
            <div class="quote-div"></div>
            <p class="reference-name">J.Lenz</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">
                Marco war nicht nur äußerst zuverlässig, sondern trug auch mit seiner positiven und motivierenden Art 
                zu einer angenehmen Teamatmosphäre bei. 
                Seine konstruktiven und kreativen Vorschläge haben das Projekt kontinuierlich vorangebracht.
            </p>
        </div>
        <div class="reference-three-div">
            <div class="quote-div"></div>
            <p class="reference-name">Vincent G.</p>
            <p class="reference-description">Team Partner</p>
            <p class="reference-content">
                Die Zusammenarbeit mit Marco ist sehr angenehm und lehrreich. 
                Durch seine Fähigkeit, Probleme stetig zu analysieren, anzugehen und zu lösen, 
                hat er maßgeblich zum Fortschritt unseres Projekts beigetragen. 
                Seine Hilfsbereitschaft sorgt dafür, dass für jedes Hindernis eine Lösung gefunden wird!
            </p>
        </div>
    </div>
    <div class="arrow-div">
        <div id="refAnimationDiv" class="arrow-animation-div" (mouseenter)="onMouseOver()">
            <img src="assets/icons/arrow_dl.png">
        </div>
    </div>
</section>