@import '../../assets/fonts/fonts.scss';
@import '../../styles.scss';

section {
    position: relative;

    .myprojects-headline {
        font-family: Syne;
        font-size: 78px;
        font-weight: 800;
        position: absolute;
        top: 2948px;
        left: 451px;
        cursor: default;

        &:hover {
            color: $accent-green;
        }
    }

    .myprojects-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: Overpass;
        font-size: 22px;
        font-weight: 400;
        position: absolute;
        top: 3061px;
        left: 458px;
    }

//start Project one section
    .project-one-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        top: 3231px;
        left: 99px;
        mix-blend-mode: luminosity;
        
            &:hover {
                .join-img{
                    opacity: 1;
                }
                .join-slider{
                    animation: join-slide 0.75s ease-in forwards;
                }
            }

        .project-one-frame {
            width: 620px;
            height: 383px;
            opacity: 0;
            position: absolute;
            top: 50px;
            left: 20px;
            border: 4px solid black;
            transition: transform  300ms ease-in;

            .join-slider {
                width: 479px;
                height: 339px;
                gap: 35px;
                display: flex;
                align-items: center;
                position: absolute;
                top: 40px;
                left: 110px;
                opacity: 0;

                .Join-description-div {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                .join-headline {
                    font-family: Syne;
                    font-size: 45px;
                    font-weight: 800;
                    color: $black;
                }

                .join-skills {
                    font-family: Overpass;
                    font-size: 23px;
                    font-weight: 400;
                    color: $accent-green;
                }

                .join-txt {
                    font-family: Overpass;
                    font-size: 16px;
                    font-weight: 400;
                    color: $black;
                }
            }

            &:hover {
                .round-down {
                    transform: rotate(-360deg);
                    transition: transform 300ms ease-in-out;

                    img {
                        content: url('../../assets/icons/round-up.png');
                    }
                }
            }
        }

        .round-down {
            position: absolute;
            top: 167.5px;
            left: 582px;
        }

        &:hover {
            mix-blend-mode: unset;

            .project-one-frame {
                opacity: 1;
            }
        }
    }

    .join-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }

    .project-one-number-div {
        display: flex;
        justify-content: right;
        width: 311px;
        height: 84px;
        font-family: Syne;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: 3231px;
        left: 1030px;
    }
//end project one section

//start project two section
    .project-two-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: right;
        align-items: center;
        position: absolute;
        top: 3761px;
        left: 99px;
        mix-blend-mode: luminosity;
        
        &:hover {
            .epl-img{
                opacity: 1;
            }
            .epl-slider{
                animation: epl-slide 0.75s ease-in forwards;
            }
        }

        .project-two-frame {
            width: 620px;
            height: 383px;
            opacity: 0;
            position: absolute;
            top: 50px;
            left: 600px;
            border: 4px solid black;
            transition: transform  300ms ease-in;

            .epl-slider {
                width: 479px;
                height: 339px;
                gap: 35px;
                display: flex;
                align-items: center;
                position: absolute;
                top: 40px;
                left: 110px;
                opacity: 0;

                .epl-description-div {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                .epl-headline {
                    font-family: Syne;
                    font-size: 45px;
                    font-weight: 800;
                    color: $black;
                }

                .epl-skills {
                    font-family: Overpass;
                    font-size: 23px;
                    font-weight: 400;
                    color: $accent-green;
                }

                .epl-txt {
                    font-family: Overpass;
                    font-size: 16px;
                    font-weight: 400;
                    color: $black;
                }

                .git-button {
                    width: 189px;
                    height: 68px;
                    position: absolute;
                    top: 269px;
                    left: 0px;
                    padding: 20px 60px 20px 60px;
                    gap: 10px;
                    border: 4px solid $black;
                    box-shadow: 5px 5px 15px 0px #00000026;
                    font-family: Overpass;
                    font-size: 23px;
                    font-weight: 400;
                    color: $black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            &:hover {
                .round-down {
                    transform: rotate(270deg);
                    transition: transform 300ms ease-in-out;

                    img {
                        content: url('../../assets/icons/round-up.png');
                    }
                }
            }
        }

        .round-down {
            position: absolute;
            top: 167.5px;
            left: -35px;
        }

        &:hover {
            mix-blend-mode: unset;

            .project-two-frame {
                opacity: 1;
            }
        }
    }

    .elPoloLoco-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }

    .project-two-number-div {
        display: flex;
        justify-content: left;
        width: 311px;
        height: 84px;
        font-family: Syne;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: 3761px;
        left: 102px;
    }
//end project two section

    .project-three-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: left;
        align-items: center;
        position: absolute;
        top: 4291px;
        left: 99px;
        mix-blend-mode: luminosity;

        >.project-three-frame {
            width: 620px;
            height: 383px;
            opacity: 0;
            position: absolute;
            top: 50px;
            left: 20px;
            border: 4px solid black;

            &:hover {
                .round-down {
                    transform: rotate(360deg);
                    transition: transform 300ms ease-in-out;

                    img {
                        content: url('../../assets/icons/round-up.png');
                    }
                }
            }
        }

        .round-down {
            position: absolute;
            top: 167.5px;
            left: 582px;
        }

        &:hover {
            mix-blend-mode: unset;

            .project-three-frame {
                opacity: 1;
            }
        }
    }

    .pokedex-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }

    .project-three-number-div {
        display: flex;
        justify-content: right;
        width: 311px;
        height: 84px;
        font-family: Syne;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: 4291px;
        left: 1030px;
    }
}

@keyframes epl-slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    50% {
        transform: translateX(-600px);
        opacity: 0.25;
    }

    75% {
        transform: translateX(-610px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-620px);
        opacity: 1;
    }
}

@keyframes join-slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    50% {
        transform: translateX(600px);
        opacity: 0.25;
    }

    75% {
        transform: translateX(610px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(620px);
        opacity: 1;
    }
}