<section>
    <p class="myprojects-headline" id="portfolio">Portfolio</p>
    <div class="myprojects-description">
        <p>Erkunden sie hier eine Auswahl meiner Arbeiten -</p>
        <p>Interagiere mit den Projekten, um meine Fähigkeiten in Aktion zu sehen.</p>
    </div>
    <div class="project-one-number-div">01/02</div>
    <div class="project-one-div">
        <div>
            <img class="join-img" src="assets/img/join.png">
        </div>
        <div class="project-one-frame">
            <div class="round-down"><img src="assets/icons/round-down.png"></div>
            <div class="join-slider">
                <div class="Join-description-div">
                    <p class="join-headline">Join</p>
                    <p class="join-skills">Angular | TypeScript | HTML | CSS | Firebase</p>
                    <p class="join-txt">
                        Task-Manager inspiriert vom Kanban-System. 
                        Erstellen und organisieren Sie Aufgaben mit Drag-and-Drop-Funktionen, 
                        weisen Sie Benutzer und Kategorien zu.
                    </p>
                    <div class="join-btn-div">
                        <a href="https://github.com/Seidocan/myJoin" target="_blank">
                            <button class="join-git-btn">GitHub</button>
                        </a>
                        <a href="https://www.marco-marrocu.de/myprojects/Join/index.html" target="_blank">
                            <button class="live-btn">Live Test</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-two-number-div">02/02</div>
    <div class="project-two-div">
        <div class="project-two-frame">
            <div class="round-down"><img src="assets/icons/round-down.png"></div>
            <div class="epl-slider">
                <div class="epl-description-div">
                    <p class="epl-headline">El pollo loco</p>
                    <p class="epl-skills">JavaScript | HTML | CSS</p>
                    <p class="epl-txt">
                        Ein einfaches Jump-and-Run-Spiel basierend auf einem objektorientierten Ansatz. 
                        Hilf Pepe, Münzen und Salsa-Flaschen zu finden, um gegen das Killer-Huhn zu kämpfen.
                    </p>
                    <div class="epl-btn-div">
                        <a href="https://github.com/Seidocan/JumpAndRun" target="_blank">
                            <button class="epl-git-btn">GitHub</button>
                        </a>
                        <a href="https://www.marco-marrocu.de/myprojects/epl/index.html" target="_blank">
                            <button class="live-btn">Live Test</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img class="elPoloLoco-img" src="assets/img/elPoloLoco.png">
    </div>
</section>