@import '../../assets/fonts/fonts.scss';
@import '../../styles.scss';

section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;

    .myprojects-headline {
        font-family: Syne;
        font-size: clamp(2.25rem, 1.5592rem + 3.6842vw, 4.875rem);
        font-weight: 800;
        letter-spacing: 1%;
        cursor: default;

        &:hover {
            color: $accent-green;
        }
    }

    .myprojects-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: Overpass;
        font-size: clamp(1.25rem, 1.2171rem + 0.1754vw, 1.375rem);
        font-weight: 400;
    }

    .project-one-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: left;
        align-items: center;
        mix-blend-mode: luminosity;

        &:hover {
            .join-img {
                opacity: 1;
            }

            .join-slider {
                animation: join-slide 0.75s ease-in forwards;
            }
        }

        .project-one-frame {
            width: 620px;
            height: 383px;
            opacity: 0;
            border: 4px solid black;
            position: relative;
            top: 15px;
            transform: translateX(-98%);
            transition: transform 300ms ease-in;

            .join-slider {
                width: 600px;
                height: 339px;
                gap: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;

                .Join-description-div {
                    display: flex;
                    flex-direction: column;
                    margin-left: 75px;
                    gap: 15px;
                }

                .join-headline {
                    font-family: Syne;
                    font-size: 45px;
                    font-weight: 800;
                    letter-spacing: 1%;
                    color: $black;
                }

                .join-skills {
                    font-family: Overpass;
                    font-size: 23px;
                    font-weight: 400;
                    color: $accent-green;
                }

                .join-txt {
                    font-family: Overpass;
                    font-size: 16px;
                    font-weight: 400;
                    color: $black;
                }

                .join-btn-div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }

            &:hover {
                .round-down {
                    transform: rotate(-360deg);
                    transition: transform 300ms ease-in-out;

                    img {
                        content: url('../../assets/icons/round-up.png');
                    }
                }
            }
        }

        .round-down {
            position: absolute;
            top: 167.5px;
            left: 582px;
        }

        &:hover {
            mix-blend-mode: unset;

            .project-one-frame {
                opacity: 1;
            }
        }
    }

    .join-btn-div {
        >a {
            text-decoration: none;
        }
    }

    .join-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }

    .project-one-number-div {
        width: 1240px;
        display: flex;
        justify-content: right;
        transform: translateY(75px);
        height: 84px;
        font-family: Syne;
        font-size: clamp(1.4375rem, 1.0263rem + 2.193vw, 3rem);
        font-weight: 700;
    }

    .project-two-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: right;
        align-items: center;
        mix-blend-mode: luminosity;

        &:hover {
            .epl-img {
                opacity: 1;
            }

            .epl-slider {
                animation: epl-slide 0.75s ease-in forwards;
            }
        }

        .project-two-frame {
            width: 620px;
            height: 383px;
            opacity: 0;
            border: 4px solid black;
            transition: transform 300ms ease-in;
            position: relative;
            top: 15px;
            transform: translateX(98%);

            .epl-slider {
                width: 479px;
                height: 339px;
                gap: 35px;
                display: flex;
                align-items: center;
                opacity: 0;

                .epl-description-div {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                .epl-headline {
                    font-family: Syne;
                    font-size: 45px;
                    font-weight: 800;
                    color: $black;

                }

                .epl-skills {
                    font-family: Overpass;
                    font-size: 23px;
                    font-weight: 400;
                    color: $accent-green;
                }

                .epl-txt {
                    font-family: Overpass;
                    font-size: 16px;
                    font-weight: 400;
                    color: $black;
                }

                .epl-btn-div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }

            &:hover {
                .round-down {
                    transform: rotate(270deg);
                    transition: transform 300ms ease-in-out;

                    img {
                        content: url('../../assets/icons/round-up.png');
                    }
                }
            }
        }

        .round-down {
            position: absolute;
            top: 167.5px;
            left: -35px;
        }

        &:hover {
            mix-blend-mode: unset;

            .project-two-frame {
                opacity: 1;
            }
        }
    }

    .epl-btn-div {
        >a {
            text-decoration: none;
        }
    }

    .elPoloLoco-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }

    .project-two-number-div {
        width: 1240px;
        display: flex;
        justify-content: left;
        transform: translateY(75px);
        height: 84px;
        font-family: Syne;
        font-size: clamp(1.4375rem, 1.0263rem + 2.193vw, 3rem);
        font-weight: 700;
    }
}

@keyframes epl-slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    50% {
        transform: translateX(-600px);
        opacity: 0.25;
    }

    75% {
        transform: translateX(-610px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-620px);
        opacity: 1;
    }
}

@keyframes join-slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    50% {
        transform: translateX(600px);
        opacity: 0.25;
    }

    75% {
        transform: translateX(610px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(620px);
        opacity: 1;
    }
}

@keyframes epl-slide-down {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        transform: translateY(310px);
        opacity: 0.25;
    }

    75% {
        transform: translateY(320px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(330px);
        opacity: 1;
    }
}

@keyframes join-slide-down {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        transform: translateY(310px);
        opacity: 0.25;
    }

    75% {
        transform: translateY(320px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(330px);
        opacity: 1;
    }
}

@keyframes epl-slide-small {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        transform: translateY(200px);
        opacity: 0.25;
    }

    75% {
        transform: translateY(210px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(220px);
        opacity: 1;
    }
}

@keyframes join-slide-small {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        transform: translateY(200px);
        opacity: 0.25;
    }

    75% {
        transform: translateY(210px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(220px);
        opacity: 1;
    }
}

@media (max-width: 1564px) {
    section {
        width: 100% !important;
        max-width: 1240px !important;
    }
}

@media (max-width: 1461px) {
    section {
        width: 100% !important;
        max-width: 800px !important;
        height: 1700px !important;
    }

    .project-one-div,
    .project-two-div {
        width: 100% !important;
        max-width: 700px !important;
    }

    .project-one-number-div,
    .project-two-number-div {
        width: 100% !important;
        max-width: 700px !important;
    }

    .project-two-number-div {
        margin-top: 200px !important;
    }

    .project-one-div:hover .join-slider {
        animation: join-slide-down 0.75s ease-in forwards !important;
    }

    .project-two-div:hover .epl-slider {
        animation: epl-slide-down 0.75s ease-in forwards !important;
    }
}

@media (max-width: 810px) {
    section {
        width: 100% !important;
        max-width: 310px !important;
        height: 1400px !important;
    }

    .myprojects-headline {
        font-size: 30px !important;
    }

    .project-one-div,
    .project-two-div {
        width: 100% !important;
        max-width: 280px !important;
        height: 250px !important;
    }

    .project-one-number-div,
    .project-two-number-div {
        width: 100% !important;
        max-width: 300px !important;
    }

    .join-img,
    .elPoloLoco-img {
        width: 280px !important;
        height: 190px !important;
    }

    .project-one-frame,
    .project-two-frame {
        width: 280px !important;
        height: 190px !important;
    }

    .myprojects-description {
        font-size: 20px !important;
        margin-top: 24px !important;
    }

    .join-slider,
    .epl-slider {
        width: 280px !important;
        height: 270px !important;
        gap: 30px !important;

        .Join-description-div,
        .epl-description-div {
            margin-left: unset !important;
            gap: 15px !important;
        }

        .join-headline,
        .epl-headline {
            font-size: 30px !important;
        }

        .join-skills,
        .epl-skills {
            font-size: 20px !important;
        }

        .join-txt,
        .epl-txt {
            font-size: 16px;
        }
    }

    .project-one-frame {
        .round-down {
            top: 70px !important;
            left: -20px !important;

            >img {
                width: 37.5px !important;
                height: 37.5px !important;
            }
        }
    }

    .project-two-frame {
        .round-down {
            top: 70px !important;
            left: -20px !important;

            >img {
                width: 37.5px !important;
                height: 37.5px !important;
            }
        }
    }

    .join-btn-div,
    .epl-btn-div {
        flex-direction: column !important;
        gap: 10px;
    }

    .join-git-btn,
    .epl-git-btn,
    .live-btn {
        width: 150px !important;
        height: 25px !important;
    }

    .project-one-number-div,
    .project-two-number-div {
        transform: unset !important;
        height: unset !important;
    }

    .project-two-number-div {
        margin-top: 350px !important;
    }

    .project-one-div:hover .join-slider {
        animation: join-slide-small 0.75s ease-in forwards !important;
    }

    .project-two-div:hover .epl-slider {
        animation: epl-slide-small 0.75s ease-in forwards !important;
    }
}