@import '../../assets/fonts/fonts.scss';
@import '../../styles.scss';

section {
    position: relative;

    .myprojects-headline {
        font-family: Syne;
        font-size: 78px;
        font-weight: 800;
        position: absolute;
        top: 2948px;
        left: 451px;
        cursor: default;

        &:hover {
            color: $accent-green;
        }
    }

    .myprojects-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: Overpass;
        font-size: 22px;
        font-weight: 400;
        position: absolute;
        top: 3061px;
        left: 458px;
    }

    .project-one-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: left;
        align-items: center;
        position: absolute;
        top: 3231px;
        left: 99px;
    }

    .join-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
        mix-blend-mode: luminosity;

        &:hover{
            mix-blend-mode: unset;
        }
    }

    .project-one-number-div {
        display: flex;
        justify-content: right;
        width: 311px;
        height: 84px;
        font-family: Syne;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: 3231px;
        left: 1030px;
    }

    .project-two-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: right;
        align-items: center;
        position: absolute;
        top: 3761px;
        left: 99px;
    }

    .elPoloLoco-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
        mix-blend-mode: luminosity;

        &:hover{
            mix-blend-mode: unset;
        }
    }

    .project-two-number-div {
        display: flex;
        justify-content: left;
        width: 311px;
        height: 84px;
        font-family: Syne;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: 3761px;
        left: 102px;
    }

    .project-three-div {
        width: 1239px;
        height: 460px;
        display: flex;
        justify-content: left;
        align-items: center;
        position: absolute;
        top: 4291px;
        left: 99px;
    }

    .pokedex-img {
        width: 620px;
        height: 393px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
        mix-blend-mode: luminosity;

        &:hover{
            mix-blend-mode: unset;
        }
    }

    .project-three-number-div {
        display: flex;
        justify-content: right;
        width: 311px;
        height: 84px;
        font-family: Syne;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: 4291px;
        left: 1030px;
    }

}