<section>
    <p class="myprojects-headline" id="portfolio">Portfolio</p>
    <div class="myprojects-description">
        <p>Explore a selection of my work here - Interact with</p>
        <p>projects to see my skills in action.</p>
    </div>

    <div class="project-one-div">
        <div class="project-one-frame">
            <div class="round-down"><img src="assets/icons/round-down.png"></div>
            <div class="join-slider">
                <div class="Join-description-div">
                    <p class="join-headline">Join</p>
                    <p class="join-skills">Angular | TypeScript | HTML | CSS | Firebase</p>
                    <p class="join-txt">
                        Task manager inspired by the Kanban system.
                        Create and organize tasks using drag and drop functions, assign users and
                        categories.
                    </p>
                    <a href="https://github.com/Seidocan/myJoin" target="_blank">
                        <button>GitHub</button>
                    </a>
                </div>
            </div>
        </div>
        <img class="join-img" src="assets/img/Join.png">
    </div>

    <div class="project-one-number-div">01/02</div>

    <div class="project-two-div">
        <div class="project-two-frame">
            <div class="round-down"><img src="assets/icons/round-down.png"></div>
            <div class="epl-slider">
                <div class="epl-description-div">
                    <p class="epl-headline">El pollo loco</p>
                    <p class="epl-skills">JavaScript | HTML | CSS</p>
                    <p class="epl-txt">
                        A simple Jump-and-Run game based on an object oriented approach.
                        Help Pepe to find coins and salsa bottles to fight against the killer chicken.
                    </p>
                    <a href="https://github.com/Seidocan/JumpAndRun" target="_blank">
                        <button>GitHub</button>
                    </a>
                </div>
            </div>
        </div>
        <img class="elPoloLoco-img" src="assets/img/elPoloLoco.png">
    </div>

    <div class="project-two-number-div">02/02</div>

    <!--
    <div class="project-three-div">
        <div class="project-three-frame">
            <div class="round-down"><img src="assets/icons/round-down.png"></div>
        </div>
        <img class="pokedex-img" src="assets/img/pokedex.png">
    </div>

    <div class="project-three-number-div">03/03</div>
    -->
</section>