<section>
    <p class="myprojects-headline">Portfolio</p>
    <div class="myprojects-description">
        <p>Explore a selection of my work here - Interact with</p>
        <p>projects to see my skills in action.</p>
    </div>
    <div class="project-one-div">
        <img class="join-img" src="../../assets/img/Join.png">
    </div>
    <div class="project-one-number-div">01/03</div>

    <div class="project-two-div">
        <img class="elPoloLoco-img" src="../../assets/img/elPoloLoco.png">
    </div>
    <div class="project-two-number-div">02/03</div>

    <div class="project-three-div">
        <img class="pokedex-img" src="../../assets/img/pokedex.png">
    </div>
    <div class="project-three-number-div">03/03</div>
</section>