@import '../../assets/fonts/fonts.scss';
@import '../../styles.scss';

section {
    position: relative;
    background-color: $bg-color;

    .polygon-div{
        height: 969px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        clip-path: polygon(0 0, 0% 80%, 100% 100%, 0% 100%);
    }

    .menue-main-div {
        width: 580px;
        height: 579px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 39px;
        position: absolute;
        top: 343px;
        left: 430px;

        >a {
            text-decoration: none;
            font-family: Syne;
            font-weight: 700;
            font-size: 96px;
            color: $black;
        }
    }


}