@font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    src: url('/Portfolio/src/assets/fonts/overpass-v16-latin-300italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('/Portfolio/src/assets/fonts/overpass-v16-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 500;
    src: url('/Portfolio/src/assets/fonts/overpass-v16-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    src: url('/Portfolio/src/assets/fonts/overpass-v16-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: url('/Portfolio/src/assets/fonts/overpass-v16-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    src: url('/Portfolio/src/assets/fonts/overpass-v16-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    src: url('/Portfolio/src/assets/fonts/syne-v22-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    src: url('/Portfolio/src/assets/fonts/syne-v22-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    src: url('/Portfolio/src/assets/fonts/syne-v22-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    src: url('/Portfolio/src/assets/fonts/syne-v22-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    src: url('/Portfolio/src/assets/fonts/syne-v22-latin-800.woff2') format('woff2');
}