@import '../../../assets/fonts/fonts.scss';
@import '../../../styles.scss';

section {
    width: 100vw;
    max-width: 1440px;
    position: fixed;

    >div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 1440px;
        height: 92px;
        padding: 30px 100px 30px 100px;
        gap: 10px;

        .burger-menu-icon {
            cursor: pointer;
            width: 40px;
            height: 32px;
        }

        .my-logo {
            cursor: pointer;
            width: 70px;
            height: 70px;
        }
    }
}