@import '../../../assets/fonts/fonts.scss';
@import '../../../styles.scss';

section {
    width: 100%;
    max-width: 1440px;
    background-color: $bg-color;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    >div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 1240px;
        height: 92px;
        gap: 10px;
    }

    .menu-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        >a {
            text-decoration: none;
            color: $black;
            font-family: Syne;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .de-btn,
    .en-btn {
        font-family: Syne;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }

    .de-btn {
        margin-right: 20px;
    }

    .burger-menu-icon {
        cursor: pointer;
        width: 40px;
        height: 32px;
        transition: transform 0.2s ease, opacity 0.2s ease;

        &:active {
            transform: scale(0.9);
        }
    }

    .my-logo {
        cursor: pointer;
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 1564px) {
    section {
        width: 100% !important;
    }
}

@media (max-width: 1461px) {
    section {
        width: 100% !important;
        max-width: 800px !important;
    }
}

@media (max-width:810px) {
    section {
        width: 100% !important;
        max-width: 310px !important;

        >div {
            width: 100% !important;
            max-width: 300px !important;
            padding: unset !important;
        }
    }
}