<section>

    <div class="content-wrapper-div">
        <div class="h1-div">About me</div>
        <div class="content-div">
            I am a Front-end Developer from Leverkusen, Germany. i help
            designers and companies to bring their ideas to real life.
            Creativity and logical thinking are skills i have developed
            to connect ideas into quality products.
            <br>
            if u think id be a good match for your projects, contact me!
        </div>
        <div class="based-and-remote-div">
            <div class="based-div"><img src="../../assets/icons/house.png">Based in Leverkusen</div>
            <div class="remote-div"><img src="../../assets/icons/laptop.png">Open to work Remote</div>
        </div>
    </div>
    <div class="image-div"></div>
    <div class="button">Lets talk</div>
    <div class="arrow-div"><img src="../../assets/icons/arrow_down_left.png"></div>

</section>