<section>

    <div class="main-div">
        <div class="content-wrapper-div" id="aboutme">
            <div class="h1-div">{{'aboutme.h1-div' | translate}}</div>
            <div class="content-div">
                {{'aboutme.content-div' | translate}}
            </div>
            <div class="based-and-remote-div">
                <div class="based-div"><img src="assets/icons/house.png">{{'aboutme.based-div' | translate}}</div>
                <div class="remote-div"><img src="assets/icons/laptop.png">{{'aboutme.remote-div' | translate}}</div>
            </div>
            <a href="#contact">
                <button class="button">{{'aboutme.button' | translate}}</button>
            </a>
        </div>
        <div class="image-div"><img src="assets/img/portpic.jpg"></div>
    </div>
    <div class="arrow-div">
        <div id="aboutAnimationDiv" class="arrow-animation-div" (mouseenter)="onMouseOver()">
            <img src="assets/icons/arrow_dl.png">
        </div>
    </div>

</section>