<section>

    <div class="main-div">
        <div class="content-wrapper-div" id="aboutme">
            <div class="h1-div">Über mich</div>
            <div class="content-div">
                Ich bin leidenschaftlicher Frontend-Entwickler aus Leverkusen, Deutschland und setze Ideen von Designern und Unternehmen in funktionale, 
                ansprechende digitale Produkte um. Ich arbeite gerne in kreativen Teams, 
                die sich gegenseitig unterstützen und neue Lösungen finden. 
                <br><br>
                Wenn Sie denken, dass ich gut in Ihr Team und zu Ihren Projekten passe, melden Sie sich – ich freue mich!
            </div>
            <div class="based-and-remote-div">
                <div class="based-div"><img src="assets/icons/house.png">Aus Leverkusen</div>
                <div class="remote-div"><img src="assets/icons/laptop.png">Offen für Remot-Arbeit</div>
            </div>
            <a href="#contact">
                <button class="button">Lass uns reden</button>
            </a>
        </div>
        <div class="image-div">Platzhalter</div>
    </div>
    <div class="arrow-div">
        <div id="aboutAnimationDiv" class="arrow-animation-div" (mouseenter)="onMouseOver()">
            <img src="assets/icons/arrow_dl.png">
        </div>
    </div>

</section>