<div id="successDialog" class="dialog-overlay" style="display: none;">
    <div class="dialog-box">
      <p>{{ 'contact.dialog-box' | translate }}</p>
      <button class="dialog-close" (click)="closeDialog()">{{ 'contact.dialog-close' | translate }}</button>
    </div>
  </div>

<section>
    <div class="polygon-div" id="contact">
        <p class="contact-headline">{{ 'contact.h1-div' | translate }}</p>
        <p class="paragraph-one">{{ 'contact.paragraph-one' | translate }}</p>
        <p class="paragraph-two">{{ 'contact.paragraph-two' | translate }}</p>

        <div class="contact-form-div">

            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                <div class="status-wrapper">
                <input #name="ngModel"
                [(ngModel)]="contactData.name" 
                type="text" 
                name="name" 
                class="name-input" 
                placeholder="{{ 'contact.name-input' | translate }}" 
                required>
                <img *ngIf="name.touched" [src]="name.valid ? 'assets/icons/valid.png' : 'assets/icons/notvalid.png'" class="status-icon">
                </div>

                @if (!name.valid && name.touched){
                <span class="message-alert">{{ 'contact.message-alert-name' | translate }}</span>
                }

                <div class="status-wrapper">
                <input #email="ngModel"
                [(ngModel)]="contactData.email" 
                type="text" 
                name="email" 
                class="mail-input" 
                placeholder="{{ 'contact.mail-input' | translate }}"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                required>
                <img *ngIf="email.touched" [src]="email.valid ? 'assets/icons/valid.png' : 'assets/icons/notvalid.png'" class="status-icon">
                </div>

                @if (!email.valid && email.touched){
                    <span class="message-alert">{{ 'contact.message-alert-mail' | translate }}</span>
                    }

                <div class="status-wrapper">
                <textarea #message="ngModel" 
                minlength="10" 
                [(ngModel)]="contactData.message" 
                name="message" 
                class="message-input" 
                placeholder="{{ 'contact.message-input' | translate }}" required>
                </textarea>
                <img *ngIf="message.touched" [src]="message.valid ? 'assets/icons/valid.png' : 'assets/icons/notvalid.png'" class="status-icon">
                </div>

                @if (!message.valid && message.touched){
                <span class="message-alert">{{ 'contact.message-alert-msg' | translate }}</span>
                }

                <div class="checkbox-div">
                    <input #privacy="ngModel" [(ngModel)]="contactData.privacy" class="checkbox" type="checkbox"
                        name="privacy" id="checkbox" required>
                    <div class="checkbox-text">
                        <p>{{ 'contact.checkbox-text' | translate }} <a class="privacy-link" href="privacy">{{ 'contact.privacy-link' | translate }}</a> {{ 'contact.checkbox-text-two' | translate }}</p>
                
                @if (!privacy.valid && privacy.touched){
                <span class="message-alert">{{ 'contact.message-alert-ds' | translate }}</span>
                }
                    </div>
                </div>
                
                <input class="send-button" type="submit" value="Nachricht senden" (click)="onSubmit(contactForm)" [disabled]="!isAllValid()">

            </form>

        </div>
        <div class="arrow-div">
            <a class="arrow-up-footer" href="#"><img src="assets/icons/arrow_up_footer.png"></a>
        </div>

        <div class="footer-small-div">
            <div>
                <a href="#"><img class="mylogo" src="assets/img/mylogo_footer.png"></a>
            </div>
            <p class="copyright">&copy; {{ 'contact.cpoyright' | translate }}</p>
            <div class="social-icons-div">
                <a class="social-icon" target=”_blank” href="https://github.com/Seidocan"><img
                        src="assets/icons/github_button.png"></a>
                <a class="social-icon" target=”_blank” href="mailto:marco.marrocu@hotmail.de"><img
                        src="assets/icons/email_button.png"></a>
                <a class="social-icon" target=”_blank” href="#"><img src="assets/icons/linkedin_button.png"></a>
            </div>
        </div>
        <div class="legal-notice-div">
            <a class="legal-notice-link" href="imprint">Impressum</a>
        </div>
    </div>
</section>