<section>
    <div class="polygon-div"></div>
    <p class="contact-headline">Say Hi!</p>
    <p class="paragraph-one">Want to discuss a new Project?</p>
    <p class="paragraph-two">Say hello! Let´s discuss y oure ideas and make it happen</p>
    <div class="contact-form-div">Platzhalter</div>
    <a class="arrow-up-footer" href="#"><img src="../../assets/icons/arrow_up_footer.png"></a>
    <div class="footer-small-div">
        <img class="mylogo" src="../../assets/img/mylogo_footer.png">
        <p class="copyright">&copy; Marco Marrocu 2025</p>
        <div class="social-icons-div">
            <a href="#"><img src="../../assets/icons/github_button.png"></a>
            <a href="#"><img src="../../assets/icons/email_button.png"></a>
            <a href="#"><img src="../../assets/icons/linkedin_button.png"></a>
        </div>
    </div>
</section>