<section [class]="mainservice.menuHidden ? 'd-none' : '' ">
    <div class="polygon-div"></div>
    
    <div class="menu-main-div">
        <div class="link-div">
            <a href="#">About me</a>
            <img class="about-corner" src="../../assets/img/corner.png">
            <img class="about-stripe" src="../../assets/img/full_stripe.png">
        </div>

        <div class="link-div">
            <a href="#">My Skills</a>
            <img class="skills-corner" src="../../assets/img/corner.png">
            <img class="skills-stripe" src="../../assets/img/full_stripe.png">
        </div>

        <div class="link-div">
            <a href="#">Portfolio</a>
            <img class="portfolio-corner" src="../../assets/img/corner.png">
            <img class="portfolio-stripe" src="../../assets/img/full_stripe.png">
        </div>

    </div>
    
</section>