@import '../../assets/fonts/fonts.scss';
@import '../../styles.scss';

section {
    position: relative;

    .main-frame-div {
        width: 1240px;
        height: 633px;
        border: 4px solid $black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1993px;
        left: 100px;

        .ready-to-learn-div {
            width: 787px;
            height: 75px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: end;
            gap: 10px;
            font-family: Overpass;
            font-size: clamp(1.25rem, 1.2171rem + 0.1754vw, 1.375rem);
            font-weight: 400;
            position: absolute;
            top: 439px;
            left: 227px;

            >img {
                transition: transform 0.5s ease-in-out;

                &:hover {
                    transform: rotateY(360deg);
                }
            }

            .learn-content-div {
                gap: 3px;

                >a {
                    text-decoration: none;
                    color: $accent-green;
                    padding-top: 5px;
                    padding-right: 10px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    display: inline-block;
                    position: relative;
                    transition: transform 100ms ease-out;

                    &::after {
                        content: ''; 
                        position: absolute;
                        bottom: 1px;
                        left: 50%;
                        width: 0;
                        height: 2px;
                        background-color: $accent-green;
                        transition: width 0.5s ease;
                    }

                    &:hover {
                        transform: scale(1.025);
            
                        &::after {
                            width: 50%;
                            left: 50%;
                        }
                    }
                }
            }
        }
    }

    .my-skills-headline {
        width: 536px;
        height: 98px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg-color;
        padding: 10px 0px 0px 0px;
        font-family: Syne;
        font-size: clamp(2.25rem, 1.5592rem + 3.6842vw, 4.875rem);
        font-weight: 800;
        letter-spacing: 1%;
        position: absolute;
        top: 1939px;
        left: 440px;
        cursor: default;

        &:hover {
            color: $accent-green;
        }
    }

    .skills-main-div {
        width: 1012px;
        height: 271px;
        gap: 78px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 120px;
        left: 114px;

        .skills-first-row,
        .skills-second-row {
            width: 1012px;
            height: 104px;
            gap: 128px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon-div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                &:hover {
                    color: $accent-green;
                }

                >img {
                    transition: transform 0.5s ease-in-out;

                    &:hover {
                        transform: rotateY(360deg);
                    }
                }

                >p {
                    font-family: Overpass;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }

    .arrow-div {
        width: 1239px;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 2640px;
        left: 101px;

        .arrow-animation-div {
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: end;
            align-items: flex-start;
            position: relative;
            transition: transform 70ms ease;
            cursor: pointer;
        }

        .arrow-animation-div.hovered {
            transform: translate(80px, 80px);
        }
    }
}