<section>
    <div class="my-skills-headline">Skills</div>

    <div class="main-frame-div" id="myskills">

        <div class="skills-main-div">

            <div class="icon-div">
                <img src="assets/icons/angular_ico.png">
                <p>Angular</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/typescript__ico.png">
                <p>Typescript</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/javascript_ico.png">
                <p>Javascript</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/html_ico.png">
                <p>HTML</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/css_ico.png">
                <p>CSS</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/firebase_ico.png">
                <p>Firebase</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/git_ico.png">
                <p>Git</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/scrum_ico.png">
                <p>Scrum</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/rest_api_ico.png">
                <p>Rest Api</p>
            </div>

            <div class="icon-div">
                <img src="assets/icons/material_design_ico.png">
                <p>Material</p>
                <p>Design</p>
            </div>

        </div>
        <div class="ready-to-learn-div"><img src="assets/icons/learn_ico.png">
            <div class="learn-content-div">Ist die gesuchte Fähigkeit nicht dabei? <a href="#contact">Kontaktieren Sie mich</a> <br>Ich bin immer bereit zu lernen!</div>
        </div>
    </div>
    <div class="arrow-div">
        <div id="skillsAnimationDiv" class="arrow-animation-div" (mouseenter)="onMouseOver()">
            <img src="assets/icons/arrow_dr.png">
        </div>
    </div>
</section>