<section>
    <h1 class="headline">Impressum</h1>
    <p>Angaben gemäß § 5 DDG</p>
    <p>Marco Marrocu</p><br>
    <p>Luisenstraße 31</p><br>
    <p>51377 Leverkusen</p><br>
    <p class="headfont-one">{{ 'imprint.headfont' | translate}}</p><br>
    <p>Marco Marrocu</p><br>
    <p class="headfont-two">{{ 'imprint.headfont-two' | translate}}</p><br>
    <p>Telefon: 01573-0879625</p><br>
    <p>E-Mail: <a href='mailto:marco.marrocu@hotmail.de'>{{ email }}</a><br></p>

    <p class="headfont-big">{{ 'imprint.haftungsausschluss-head' | translate}}</p><br>

    <p class="headfont">{{ 'imprint.haftung-inhalte-head' | translate}}</p><br>
    {{ 'imprint.haftung-inhalte' | translate}}<br><br>

    <p class="headfont">{{ 'imprint.haftung-links-head' | translate}}</p><br>
    {{ 'imprint.haftung-links-head' | translate}}<br>

    <p class="headfont">{{ 'imprint.urheberrecht-head' | translate}}</p><br>
    {{ 'imprint.urheberrecht' | translate}}<br>

    <p class="headfont">{{ 'imprint.datenschutz-head' | translate}}</p><br>
    {{ 'imprint.datenschutz' | translate}}<br>

    {{ 'imprint.footer.created-with' | translate}} 
    <a href="https://websitewissen.com/impressum-generator" rel="dofollow">
        {{ 'imprint.footer.impressum-generator' | translate}}
    </a>, 

    {{ 'imprint.footer.website-info-one' | translate}} 
    <a href="https://websitewissen.com/website-erstellen" rel="dofollow">
        {{ 'imprint.footer.website-info-two' | translate}}
    </a>,

    <a href="https://websitewissen.com/homepage-baukasten-vergleich" rel="dofollow">
        {{ 'homepage-baukasten' | translate}}
    </a> 
    und 
    <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow">
        {{ 'imprint.footer.shopsysteme' | translate}}
    </a>. 

    {{ 'imprint.footer.rechtstext' | translate}} 
    <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach

    </a>.
</section>
<app-footer></app-footer>