<section>
    <h1>Privacy policy</h1>
    <p>As of: February 16, 2025</p>
    <h2>Table of contents</h2>
    <ul class="index">
        <li><a class="index-link" href="#m3">Person responsible</a></li>
        <li><a class="index-link" href="#mOverview">Overview of processing</a></li>
        <li><a class="index-link" href="#m2427">Relevant legal bases</a></li>
        <li><a class="index-link" href="#m27">Security measures</a></li>
        <li><a class="index-link" href="#m134">Use of cookies</a></li>
        <li><a class="index-link" href="#m182">Contact and inquiry management</a></li>
        <li><a class="index-link" href="#m136">Presences in social networks (social media)</a></li>
        <li><a class="index-link" href="#m328">Plug-ins and embedded functions and content</a></li>
    </ul>
    <h2 id="m3">Person responsible</h2>
    <p>Marco Marrocu<br>Luisenstraße 31<br>51377 Leverkusen</p>
    <p>E-mail address: <a href="mailto:marco.marrocu@hotmail.de">marco.marrocu&#64;hotmail.de</a></p>

    <h2 id="mOverview">Overview of processing</h2>
    <p>The following overview summarizes the types of data processed and the purposes of their processing and
        refers to the persons affected.</p>
    <h3>Types of data processed</h3>
    <ul>
        <li>Inventory data.</li>
        <li>Contact data.</li>
        <li>Content data.</li>
        <li>Usage data.</li>
        <li>Meta, communication and process data.</li>
    </ul>
    <h3>Categories of data subjects</h3>
    <ul>
        <li>Communication partners.</li>
        <li>Users.</li>
    </ul>
    <h3>Purposes of processing</h3>
    <ul>
        <li>Communication.</li>
        <li>Organizational and administrative procedures.</li>
        <li>Feedback.</li>
        <li>Marketing.</li>
        <li>Profiles with user-related information.</li>
        <li>Provision of our online offer and user-friendliness.</li>
        <li>Public relations.</li>
    </ul>
    <h2 id="m2427">Relevant Legal bases</h2>
    <p><strong>Relevant legal bases under the GDPR: </strong>
        Below you will find an overview of the
        legal bases of the GDPR on the basis of which we process personal data. Please note
        that in addition to the provisions of the GDPR, national data protection regulations in your or our country of
        residence or domicile
        may apply. If more specific legal bases are relevant in individual cases, we will inform you of these in the
        Data protection declaration.</p>

    <ul>

        <li><strong>Consent (Art. 6 Para. 1 Clause 1 lit. a) GDPR)</strong>

            - The data subject has given his

            consent

            to the processing of personal data concerning him for a specific purpose or several

            specific purposes.</li>

        <li><strong>Performance of a contract and pre-contractual inquiries (Art. 6 Para. 1 Clause 1 lit. b)
                GDPR)</strong> - The

            processing is necessary for the performance of a contract to which the data subject is a party or for the

            implementation of pre-contractual measures that are carried out at the request of the data subject.</li>

        <li><strong>Legitimate interests (Art. 6 Para. 1 Clause 1 lit. f) GDPR)</strong> - the processing is necessary
            to

            protect

            the legitimate interests of the controller or a third party, provided that the

            interests, fundamental rights and freedoms of the data subject who require the protection of personal data.
        </li>

    </ul>
    <p><strong>National data protection regulations in Germany: </strong>In addition to the data protection regulations
        of the GDPR, national regulations on data protection apply in Germany. This includes in particular the law on
        protection against misuse of personal data in data processing (Federal Data Protection Act - BDSG). The BDSG
        contains in particular special regulations on the right to information, the right to deletion, the right of
        objection, the processing of special categories of personal data, processing for other purposes and transmission
        and automated decision-making in individual cases, including profiling. Furthermore, the state data protection
        laws of the individual federal states may apply.</p>
    <p><strong>Note on the validity of the GDPR and the Swiss DSG: </strong>This data protection notice serves both to
        provide information in accordance with the Swiss DSG and the General Data Protection Regulation (GDPR). For this
        reason, we ask you to note that due to the broader spatial application and comprehensibility, the terms of the
        GDPR are used. In particular, instead of the one used in the Swiss DSG n The terms "processing" of

        "personal data", "overriding interest" and "personal data requiring particular protection" are used in the GDPR,
        namely the terms "processing" of "personal data" as well as "legitimate interest" and "special

        categories of data". However, the legal meaning of the terms will continue to be determined according to the
        Swiss DSG within the scope of the Swiss DSG.</p>

    <h2 id="m27">Security measures</h2>
    <p>In accordance with the legal requirements, taking into account the state of the art, the implementation costs and
        the nature, scope, circumstances and purposes of the processing as well as the different probabilities of
        occurrence and the extent of the threat to the rights and freedoms of natural persons, we take appropriate
        technical and organizational measures to ensure a level of protection appropriate to the risk.</p>
    <p>The measures include in particular ensuring the confidentiality, integrity and availability of data by
        controlling physical and electronic access to the data as well as access to it, input, transmission, securing
        availability and separation. Furthermore, we have set up procedures that ensure the exercise of data subjects'
        rights, the deletion of data and responses to threats to the data. Furthermore, we take the protection of
        personal data into account when developing or selecting hardware, software and processes in accordance with the
        principle of data protection, through technology design and through data protection-friendly default settings.
    </p>
    <p>Securing online connections using TLS/SSL encryption technology (HTTPS): In order to protect user data
        transmitted via our online services from unauthorized access, we use TLS/SSL encryption technology. Secure
        Sockets Layer (SSL) and Transport Layer Security (TLS) are the cornerstones of secure data transmission on the
        Internet. These technologies encrypt the information transmitted between the website or app and the user's
        browser (or between two servers), thereby protecting the data from unauthorized access. TLS, as the advanced and
        more secure version of SSL, ensures that all data transmissions meet the highest security standards. If a
        website is secured by an SSL/TLS certificate, this is signaled by the display of HTTPS in the URL. This serves
        as an indicator for users that their data is being transmitted securely and encrypted.</p>

    <h2 id="m134">Use of cookies</h2>
    <p>The term "cookies" refers to functions that store information on users' end devices and read it from them.
        Cookies can also be used for various purposes, such as for the purposes of the functionality, security and
        convenience of online offerings and for creating analyses of visitor flows. We use cookies in accordance with
        legal regulations. If necessary, we obtain the consent of users in advance. If consent is not necessary, we rely
        on our legitimate interests. This applies if the storage and reading of information is essential in order to be
        able to provide expressly requested content and functions. This includes, for example, storing settings and
        ensuring the functionality and security of our online offering. Consent can be revoked at any time. We provide
        clear information about the scope of this and which cookies are used.</p>
    <p><strong>Notes on the legal basis for data protection: </strong>Whether we process personal data using cookies
        depends on consent. If consent is given, it serves as the legal basis. Without consent, we rely on our
        legitimate interests, which are explained above in this section and in the context of the respective services
        and procedures.</p>
    <p><strong>Storage period: </strong>With regard to the storage period, the following types of cookies are
        distinguished:</p>
    <ul>
        <li><strong>Temporary cookies (also: session cookies):</strong> Temporary cookies are deleted at the latest
            after a user has left an online service and closed their device (e.g. browser or mobile application).</li>
        <li><strong>Permanent cookies:</strong> Permanent cookies remain stored even after the device is closed. For
            example, the log-in status can be saved and preferred content can be displayed directly when the user visits
            a website again. The user data collected using cookies can also be used to measure reach. If we do not
            provide users with explicit information about the type and storage period of cookies (e.g. when obtaining
            consent), they should assume that these are permanent and that the storage period can be up to two years.
        </li>

    </ul>
    <p><strong>General information on revocation and objection (opt-out): </strong>Users can revoke the consent they
        have given at any time and also object to processing in accordance with the legal requirements, including by
        means of the privacy settings of their browser.</p>
    <ul class="m-elements">
        <li><strong>Types of data processed:</strong> Meta, communication and procedural data (e.g. IP addresses, time
            information, identification numbers, people involved).</li>
        <li><strong>Data subjects:</strong> Users (e.g. website visitors, users of online services).</li>
        <li class=""><strong>Legal basis:</strong> Authorized persons Interests (Art. 6 Para. 1 Clause 1 Letter f)
            GDPR).
            Consent (Art. 6 Para. 1 Clause 1 Letter a) GDPR).</li>
    </ul>
    <p><strong>Further information on processing processes, procedures and services:</strong></p>
    <ul class="m-elements">
        <li><strong>Processing of cookie data based on consent: </strong>We use a
            consent management solution in which the consent of users to the use of cookies or to
            the
            procedures and providers named in the consent management solution is obtained. This
            procedure
            is used to obtain, log, manage and revoke consent, in particular
            with regard to
            the use of cookies and comparable technologies that are used to store, read and
            process information on users' end devices. As part of this process, users' consent is obtained for the use
            of cookies and the associated processing of information, including the specific processing and providers
            mentioned in the consent management process. Users also have the option of managing and revoking their
            consent. The declarations of consent are stored in order to avoid repeated queries and to be able to provide
            proof of consent in accordance with legal requirements. The data is stored on the server side and/or in a
            cookie (so-called opt-in cookie) or using comparable technologies in order to be able to assign the consent
            to a specific user or their device. If no specific information is available about the providers of consent
            management services, the following general information applies: The consent is stored for up to two years. A
            pseudonymous user identifier is created, which is stored together with the time of consent, information
            about the scope of the consent (e.g. relevant categories of cookies and/or service providers) and
            information about the browser, the system and the device used; <span class=""><strong>Legal basis:</strong>
                Consent (Art. 6 Para. 1 Clause 1 lit. a) GDPR).</span></li>
    </ul>
    <h2 id="m182">Contact and inquiry management</h2>
    <p>When you contact us (e.g. by post, contact form, email, telephone or via social media) and
        within
        the framework of existing user and business relationships, the details of the inquiring persons are processed
        insofar as
        this is necessary to answer the contact inquiries and any requested measures.</p>
    <ul class="m-elements">
        <li><strong>Types of data processed:</strong> Inventory data (e.g. full name, home address,
            contact information, customer number, etc.); contact data (e.g. postal and email addresses or
            telephone numbers);
            Content data (e.g. textual or visual messages and contributions as well as the information relating to them,
            such as details of authorship or time of creation); Usage data (e.g. page views and length of stay,
            Click paths, intensity and frequency of use, device types and operating systems used,
            interactions with content and functions). Meta, communication and procedural data (e.g. IP addresses,
            time information, identification numbers, people involved).</li>
        <li><strong>Data subjects:</strong> communication partners.</li>
        <li><strong>Purposes of processing:</strong> communication; organizational and administrative procedures;
            feedback
            (e.g. collecting feedback via online form). Provision of our online offer and
            user-friendliness.</li>
        <li><strong>Storage and deletion:</strong> deletion in accordance with the information in the section "General
            information
            on data storage and deletion".</li>
        <li class=""><strong>Legal basis:</strong> legitimate interests (Art. 6 para. 1 sentence 1 lit. f) GDPR).
            Contract fulfillment and pre-contractual inquiries (Art. 6 Para. 1 Clause 1 lit. b) GDPR).</li>

    </ul>
    <p><strong>Further information on processing procedures, methods and services:</strong></p>

    <ul class="m-elements">

        <li><strong>Contact form: </strong>When you contact us via our contact form, by email or other

            communication channels, we process the personal data sent to us to answer and

            process the respective request. This usually includes information such as name, contact information and

            if necessary, other information that is communicated to us and is necessary for appropriate processing. We
            use this data exclusively for the stated purpose of contact and communication;

            <span class=""><strong>Legal basis:</strong> Contractual performance and pre-contractual inquiries (Art. 6
                Paragraph 1
                S. 1 lit. b) GDPR), legitimate interests (Art. 6
                Paragraph 1
                S. 1 lit. f) GDPR).</span>
        </li>
    </ul>
    <h2 id="m136">Presences in social networks (social media)</h2>
    <p>We maintain online presences within social networks and process user data in this context in order to
        communicate with
        the
        users active there or to offer information about us.</p>
    <p>We would like to point out that user data may be processed outside the European Union.
        This may result in risks for users because, for example, the enforcement of user rights
        could be made more difficult.</p>
    <p>In addition, user data within social networks is usually processed for market research and advertising purposes.
        For example, user profiles can be created based on the user's usage behavior and the resulting interests. The
        latter may in turn be used to place advertisements within and outside the networks that presumably correspond to
        the user's interests. Cookies are therefore usually stored on users' computers in which the user's usage
        behavior and interests are stored. In addition, data can also be stored in the user profiles regardless of the
        devices used by the users (especially if they are members of the respective platforms and are logged in there).
    </p>
    <p>For a detailed description of the respective processing methods and the objection options (opt-out), we refer to
        the data protection declarations and information provided by the operators of the respective networks.</p>
    <p>In the case of requests for information and the assertion of data subject rights, we would like to point out that
        these can be asserted most effectively with the providers. Only the latter have access to the user data and can
        take appropriate measures and provide information directly. If you still need help, you can contact us.</p>

    <ul class="m-elements">

        <li><strong>Types of data processed:</strong> Contact details (e.g. postal and email addresses or

            telephone numbers);

            Content data (e.g. textual or visual messages and contributions as well as the

            information relating to them,

            such as details of authorship or time of creation). Usage data (e.g. page views and

            time spent, click paths, intensity and frequency of use, device types and operating systems used,

            interactions with content and functions).</li>

        <li><strong>Affected persons:</strong> Users (e.g. website visitors, users of online services).</li>

        <li><strong>Purposes of processing:</strong> Communication; Feedback (e.g. collecting feedback via Online form).
            Public relations.</li>
        <li><strong>Storage and deletion:</strong> Deletion in accordance with the information in the section "General

            information

            on data storage and deletion".</li>

        <li class=""><strong>Legal basis:</strong> Legitimate interests (Art. 6 para. 1 sentence 1 lit. f) GDPR).</li>

    </ul>
    <p><strong>Further information on processing procedures, methods and services:</strong></p>

    <ul class="m-elements">
        <li><strong>LinkedIn: </strong>Social network - We are jointly responsible with LinkedIn Ireland Unlimited
            Company for

            collecting (but not further processing) visitor data that is used to create

            the "Page Insights" (statistics) of our LinkedIn profiles. This data includes information

            about the types of content users view or interact with, as well as the actions they

            take. In addition, details about the devices used are recorded, such as IP addresses,

            operating system, browser type, language settings and cookie data, as well as information from user
            profiles, such as

            job function, country, industry, hierarchy level, company size and employment status.

            Data protection information on the processing of user data by LinkedIn can be found in LinkedIn's privacy
            policy: <a href="https://www.linkedin.com/legal/privacy-policy"
                target="_blank">https://www.linkedin.com/legal/privacy-policy.</a><br>We have concluded a

            special agreement with LinkedIn Ireland ("Page Insights Joint Controller Addendum", <a
                href="https://legal.linkedin.com/pages-joint-controller-addendum"
                target="_blank">https://legal.linkedin.com/pages-joint-controller-addendum</a>), which in particular

            regulates which security measures LinkedIn must observe and in which LinkedIn has agreed

            to fulfill the rights of those affected (i.e. users can, for example, send requests for information or
            deletion

            directly to LinkedIn). The rights of users (in particular the right to information, deletion, objection and

            complaint to the responsible supervisory authority) are protected by the agreements with LinkedIn are not

            restricted. The joint controllership is limited to the collection and transmission of the data

            to

            LinkedIn Ireland Unlimited Company, a company based in the EU. The further processing of the data

            is the sole responsibility of LinkedIn Ireland Unlimited Company, in particular with regard to the
            transmission of the data to the

            parent company LinkedIn Corporation in the USA; <strong>Service provider:</strong> LinkedIn

            Ireland

            Unlimited Company, Wilton Place, Dublin 2, Ireland; <span class=""><strong>Legal basis:</strong>

                Legitimate

                Interests (Art. 6 Para. 1 Clause 1 Letter f) GDPR); </span><br><strong>Website:</strong><br>

            <a href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>;

            <br><strong>Privacy policy:</strong><br> <a href="https://www.linkedin.com/legal/privacy-policy"
                target="_blank">https://www.linkedin.com/legal/privacy-policy</a>; <strong>Basis

                for third country transfers:</strong> Data Privacy Framework (DPF). <br><strong>Opt-out option

                (opt-out):</strong><br> <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
                target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.

        </li>

        <li><strong>Xing: </strong>Social network; <strong>Service provider:</strong> New Work SE, Am Strandkai 1,

            20457

            Hamburg, Germany; <span class=""><strong>Legal basis:</strong> Legitimate interests (Art. 6 para.
                1 sentence 1 lit. f) GDPR); </span><br><strong>Website:</strong><br> <a href="https://www.xing.com/"
                target="_blank">https://www.xing.com/</a>. <br><strong>Privacy policy:</strong><br> <a
                href="https://privacy.xing.com/de/datenschutzerklaerung"
                target="_blank">https://privacy.xing.com/de/datenschutzerklaerung</a>.</li>
    </ul>
    <h2 id="m328">Plug-ins and embedded functions and content</h2>
    <p>We integrate functional and content elements into our online offering that are obtained from the servers of their
        respective
        providers
        (hereinafter referred to as "third-party providers"). These can be, for example, graphics, videos
        or city maps (hereinafter referred to uniformly as "content").</p>
    <p>The integration always assumes that the third-party providers of this content process the IP address of the
        users,
        since
        without an IP address they would not be able to send the content to their browser. The IP address is therefore
        required for the
        display
        of this content or functions. We endeavor to only use content whose respective
        providers only use the IP address to deliver the content. Third-party providers can also
        use so-called
        pixel tags (invisible graphics, also known as "web beacons") for statistical or marketing
        purposes. The "pixel tags" can be used to evaluate information such as visitor traffic on the
        pages of this website. The pseudonymous information can also be stored in cookies on the user's device and can
        contain, among other things, technical information about the browser and operating system, websites to be
        referred to, the time of the visit and other information about the use of our online offer, but can also be
        linked to such information from other sources.</p>
    <p><strong>Notes on legal bases:</strong> If we ask users for their consent to the use of third-party providers, the
        legal basis for data processing is permission. Otherwise, the user data is processed on the basis of our
        legitimate interests (i.e. interest in efficient, economical and recipient-friendly services). In this context,
        we would also like to draw your attention to the information on the use of cookies in this data protection
        declaration.</p>
    <ul class="m-elements">
        <li><strong>Types of data processed:</strong> Usage data (e.g. page views and length of stay, click paths,
            intensity and frequency of use, device types and operating systems used, interactions with content and
            functions). Meta, communication and procedural data (e.g. IP addresses, time information,

            identification numbers,

            people involved).</li>

        <li><strong>Affected persons:</strong> users (e.g. website visitors, users of online services).</li>

        <li><strong>Purposes of processing:</strong> provision of our online offer and user-friendliness;

            marketing. Profiles with user-related information (creation of user profiles).</li>

        <li><strong>Storage and deletion:</strong> deletion in accordance with the information in the section "General

            information

            on data storage and deletion". Storage of cookies for up to 2 years (Unless otherwise

            stated,

            cookies and similar storage methods can be stored on users' devices

            for a period of two years.).</li>

        <li class=""><strong>Legal basis:</strong> consent (Art. 6 para. 1 sentence 1 lit. a) GDPR). Legitimate
            interests (Art. 6 para. 1 sentence 1 lit. f) GDPR).</li>

    </ul>
    <p><strong>Further information on processing procedures, methods and services:</strong></p>
    <ul class="m-elements">
        <li><strong>Google Fonts (provision on own server): </strong>Provision of font files
            for the purpose of a user-friendly presentation of our online offer; <strong>Service provider:</strong> The
            Google
            Fonts are hosted on our server, no data is transmitted to Google; <span class=""><strong>Legal
                    basis:</strong> Legitimate interests (Art. 6 para. 1 sentence 1 lit. f)
                GDPR).</span></li>
        <li><strong>Google Fonts (obtained from Google server): </strong>Obtaining fonts (and symbols) for the purpose
            of
            technically secure, maintenance-free and efficient use of fonts and symbols with regard to
            timeliness
            and loading times, their uniform presentation and consideration of possible licensing restrictions.
            The provider of the fonts is informed of the user's IP address so that the fonts can be made available in
            the user's browser. In addition, technical data (language settings,
            screen resolution, operating system, hardware used) are transmitted that are necessary for the provision of
            the
            fonts
            depending on the devices used and the technical environment. This data can be processed on a server of the
            font provider in the USA - When visiting our online offer, users' browsers send their browser HTTP requests
            to the Google Fonts Web API (i.e. a software interface for retrieving the fonts). The Google Fonts Web API
            provides users with Google Fonts’ Cascading Style Sheets (CSS) and then the fonts specified in the CCS.
            These HTTP requests include (1) the IP address used by the user to access the Internet, (2) the requested
            URL on the Google server, and (3) the HTTP headers, including the user agent, which describes the browser
            and operating system versions of website visitors, and the referring URL (i.e., the web page on which the
            Google font should be displayed). IP addresses are neither logged nor stored on Google servers, and they are
            not analyzed. The Google Fonts Web API logs details of HTTP requests (requested URL, user agent, and
            referring URL). Access to this data is restricted and strictly controlled. The requested URL identifies the
            font families for which the user wants to load fonts. This data is logged so that Google can determine how
            often a particular font family is requested. The Google Fonts Web API requires the user agent to match the
            font that is generated for each browser type. The user agent is logged primarily for debugging purposes and
            to generate aggregated usage statistics that measure the popularity of font families. These aggregated usage
            statistics are published on the Google Fonts Analytics page. Finally, the referral URL is logged so that the
            data can be used to maintain production and generate an aggregated report on top integrations based on the
            number of font requests. According to Google, it does not use any of the information collected by Google
            Fonts to create profiles of end users or to display targeted ads; <strong>Service provider:</strong> Google
            Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland; <span class=""><strong>Legal
                    basis:</strong> Legitimate interests (Art. 6 Para. 1 Clause 1 lit. f) GDPR);
            </span><br><strong>Website:</strong><br> <a href="https://fonts.google.com/"
                target="_blank">https://fonts.google.com/</a>; <br><strong>Privacy policy:</strong><br> <a
                href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>;

            <br><strong>Basis for third country transfers:</strong> Data Privacy Framework (DPF). <br><strong>Further

                information:</strong><br> <a href="https://developers.google.com/fonts/faq/privacy?hl=de"
                target="_blank">https://developers.google.com/fonts/faq/privacy?hl=de</a>.

        </li>

        <li><strong>LinkedIn plugins and content: </strong>LinkedIn plugins and content - This can include, for example,
            content

            such as

            images, videos or texts and buttons with which users can share content from this online offer

            within

            LinkedIn; <strong>Service provider:</strong> LinkedIn Ireland Unlimited Company, Wilton

            Place,

            Dublin 2, Ireland; <span class=""><strong>Legal basis:</strong> Legitimate interests (Art. 6 para. 1
                sentence 1 lit. f) GDPR); </span><br><strong>Website:</strong><br> <a href="https://www.linkedin.com"
                target="_blank">https://www.linkedin.com</a>; <br><strong>Privacy policy:</strong><br> <a
                href="https://www.linkedin.com/legal/privacy-policy"
                target="_blank">https://www.linkedin.com/legal/privacy-policy</a>;

            <br><strong>Contract processing:</strong><br> <a href="https://legal.linkedin.com/dpa"
                target="_blank">https://legal.linkedin.com/dpa</a>; <br><strong>Basis for third country
                transfers:</strong> Data
            Privacy Framework (DPF). <br><strong>Opt-out option:</strong><br> <a
                href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
                target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.
        </li>
    </ul>
    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Legal text by Dr. Schwenke - please click for more information." target="_blank"
            rel="noopener noreferrer nofollow">Created with free Datenschutz-Generator.de by Dr. Thomas Schwenke</a>
    </p>
</section>
<app-footer></app-footer>