@import '../../assets/fonts/fonts.scss';
@import '../../styles.scss';

section {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $bg-color;
    font-family: Overpass;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 15px;
}

.headline {
    font-family: Syne;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1%;
}

.headfont {
    font-family: Syne;
    font-weight: 700;
    font-size: clamp(1.25rem, 1.2171rem + 0.1754vw, 1.375rem);
}

.headfont-big {
    font-family: Syne;
    font-weight: 700;
    font-size: 44px;
}

@media (max-width: 1564px) {
    section {
        width: 100% !important;
        max-width: 1240px !important;
    }
}

@media (max-width: 1461px) {
    section {
        width: 100% !important;
        max-width: 800px !important;
    }
}

@media (max-width: 810px) {
    section {
        width: 100% !important;
        max-width: 300px !important;
    }

    a{
        font-size: 14px !important;
    }

    h2{
    font-size: 16px !important;
    }

    p{
    font-size: 14px !important;
    }

    .headline{
    font-size: 16px !important;
    }
}