<section>
    <h1 class="headline">{{ 'privacy.headline' | translate}}</h1>
    <p class="date">{{ 'privacy.date' | translate}}</p>

    <br>

    <h2 class="inhalt">{{ 'privacy.inhalt' | translate}}</h2>
    <p class="i1">{{ 'privacy.i1' | translate}}</p>
    <p class="i2">{{ 'privacy.i2' | translate}}</p>
    <p class="i3">{{ 'privacy.i3' | translate}}</p>
    <p class="i4">{{ 'privacy.i4' | translate}}</p>
    <p class="i5">{{ 'privacy.i5' | translate}}</p>
    <p class="i6">{{ 'privacy.i6' | translate}}</p>
    <p class="i7">{{ 'privacy.i7' | translate}}</p>
    <p class="i8">{{ 'privacy.i8' | translate}}</p>
    <p class="i9">{{ 'privacy.i9' | translate}}</p>

    <br>

    <h2 class="verantwortlicher">{{ 'privacy.verantwortlicher' | translate}}</h2>
    <p>Marco Marrocu</p>
    <p>Luisenstarße 31</p>
    <p>51377 Leverkusen, Deutschland/Germany</p>
    <p>E-mail: <a href="mailto:marco.marrocu@hotmail.de">marco.marrocu&#64;hotmail.de</a></p>

    <br>

    <h2 class="übersicht">{{ 'privacy.übersicht' | translate}}</h2>
    <p class="übersicht-description">{{ 'privacy.übersicht-description' | translate}}</p>
    <h2 class="arten">{{ 'privacy.arten' | translate}}</h2>
    <p class="bestandsdaten">{{ 'privacy.bestandsdaten' | translate}}</p>
    <p class="kontaktdaten">{{ 'privacy.kontaktdaten' | translate}}</p>
    <p class="inhaltsdaten">{{ 'privacy.inhaltsdaten' | translate}}</p>
    <p class="nutzungsdaten">{{ 'privacy.nutzungsdaten' | translate}}</p>
    <p class="mkv-daten">{{ 'privacy.mkv-daten' | translate}}</p>

    <br>

    <h2 class="kategorie-betroffen">{{ 'privacy.kategorie-betroffen' | translate}}</h2>
    <p class="kommunikationspartner">{{ 'privacy.kommunikationspartner' | translate}}</p>
    <p class="nutzer">{{ 'privacy.nutzer' | translate}}</p>

    <br>

    <h2 class="zweck-verarbeitung">{{ 'privacy.zweck-verarbeitung' | translate}}</h2>
    <p class="kommunikation">{{ 'privacy.kommunikation' | translate}}</p>
    <p class="orga-verwa">{{ 'privacy.orga-verwa' | translate}}</p>
    <p class="feedback">{{ 'privacy.feedback' | translate}}</p>
    <p class="buoun">{{ 'privacy.buoun' | translate}}</p>
    <p class="öffentlichkeitsarbeit">{{ 'privacy.öffentlichkeitsarbeit' | translate}}</p>

    <br>

    <h2 class="mr-grundlagen">{{ 'privacy.mr-grundlagen' | translate}}</h2>
    <p class="mr1">{{ 'privacy.mr1' | translate}}</p>
    <br>
    <p class="mr2">{{ 'privacy.mr2' | translate}}</p>
    <br>
    <p class="mr3">{{ 'privacy.mr3' | translate}}</p>
    <br>
    <p class="mr4">{{ 'privacy.mr4' | translate}}</p>
    <br>
    <p class="mr5">{{ 'privacy.mr5' | translate}}</p>

    <br>

    <h2 class="sicherheit">{{ 'privacy.sicherheit' | translate}}</h2>
    <p class="sicherheit-txt">{{ 'privacy.sicherheit-txt' | translate}}</p>

    <br>

    <h2 class="rechte-person">{{ 'privacy.rechte-person' | translate}}</h2>
    <p class="rechte-person-content-one">{{ 'privacy.rechte-person-content-one' | translate}}</p>
    <p class="rechte-person-content-two">{{ 'privacy.rechte-person-content-two' | translate}}</p>
    <p class="r1">{{ 'privacy.r1' | translate}}</p>
    <p class="r2">{{ 'privacy.r2' | translate}}</p>
    <p class="r3">{{ 'privacy.r3' | translate}}</p>
    <p class="r4">{{ 'privacy.r4' | translate}}</p>
    <p class="r5">{{ 'privacy.r5' | translate}}</p>
    <p class="r6">{{ 'privacy.r6' | translate}}</p>

    <br>

    <h2 class="cookies-header">{{ 'privacy.cookies-header' | translate}}</h2>
    <p class="cookie-1">{{ 'privacy.cookie-1' | translate}}</p>
    <br>
    <p class="cookie-2">{{ 'privacy.cookie-2' | translate}}</p>
    <br>
    <p class="cookie-3">{{ 'privacy.cookie-3' | translate}}</p>
    <p class="cookie-4">{{ 'privacy.cookie-4' | translate}}</p>
    <p class="cookie-5">{{ 'privacy.cookie-5' | translate}}</p>
    <br>
    <br>
    <p class="cookie-6">{{ 'privacy.cookie-6' | translate}}</p>
    <p class=" cookie-7">{{ 'privacy.cookie-7' | translate}}</p>
    <p class=" cookie-8">{{ 'privacy.cookie-8' | translate}}</p>
    <p class=" cookie-9">{{ 'privacy.cookie-9' | translate}}</p>

    <br>

    <h3 class="cookie-10">{{ 'privacy.cookie-10' | translate}}</h3>
    <p class="cookie-11">{{ 'privacy.cookie-11' | translate}}</p>

    <br>

    <h2 class="kontakt-anfarge">{{ 'privacy.kontakt-anfrage' | translate}}</h2>
    <p class="ka-1">{{ 'privacy.ka-1' | translate}}</p>
    <br>
    <p class="ka-2">{{ 'privacy.ka-2' | translate}}</p>
    <p class="ka-3">{{ 'privacy.ka-3' | translate}}</p>
    <p class="ka-4">{{ 'privacy.ka-4' | translate}}</p>
    <p class="ka-5">{{ 'privacy.ka-5' | translate}}</p>
    <p class="ka-6">{{ 'privacy.ka-6' | translate}}</p>
    <br>
    <p class="ka-7">{{ 'privacy.ka-7' | translate}}</p>
    <p class="ka-8">{{ 'privacy.ka-8' | translate}}</p>

    <br>

    <h2 class="social-headline">{{ 'privacy.social-headline' | translate}}</h2>
    <br>
    <p class="sm1">{{ 'privacy.sm1' | translate}}</p>
    <p class="sm2">{{ 'privacy.sm2' | translate}}</p>
    <p class="sm3">{{ 'privacy.sm3' | translate}}</p>
    <p class="sm4">{{ 'privacy.sm4' | translate}}</p>
    <p class="sm5">{{ 'privacy.sm5' | translate}}</p>
    <br>
    <p class="sm6">{{ 'privacy.sm6' | translate}}</p>
    <p class="sm7">{{ 'privacy.sm7' | translate}}</p>
    <br>
    <br>
    <p>Website:</p>
    <a href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>
    <br>
    <p class="sm9">{{ 'privacy.sm9' | translate}}</p>
    <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">https://www.linkedin.com/legal/privacy-policy</a>
    <p class="sm13">{{ 'privacy.sm13' | translate}}</p>
    <br>
    <p class="sm10">{{ 'privacy.sm10' | translate}}</p>
    <p>Data Privacy Framework (DPF),</p>
    <p class="sm11">{{ 'privacy.sm11' | translate}}</p>
    <a href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>,
    <br>
    <p>Data Privacy Framework (DPF)Standardvertragsklauseln</p>
    <a href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>.
    <br>
    <p class="sm12">{{ 'privacy.sm12' | translate}}</p>
    <p>(Opt-Out):</p>
    <a
        href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out" target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.


    <br>

    <h2 class="plugins-headline">{{ 'privacy.plugins-headline' | translate}}</h2>
    <p class="plug-1">{{ 'privacy.plug-1' | translate}}</p>
    <br>
    <p class="plug-2">{{ 'privacy.plug-2' | translate}}</p>
    <p class="plug-3">{{ 'privacy.plug-3' | translate}}</p>
    <p class="plug-4">{{ 'privacy.plug-4' | translate}}</p>
    <p class="plug-5">{{ 'privacy.plug-5' | translate}}</p>
    <p class="plug-6">{{ 'privacy.plug-6' | translate}}</p>
    <p class="plug-7">{{ 'privacy.plug-7' | translate}}</p>

    <br>

    <p class="plug-8">{{ 'privacy.plug-8' | translate}}</p>
    <br>
    <p class="plug-9">{{ 'privacy.plug-9' | translate}}</p>
    <p class="plug-10">{{ 'privacy.plug-10' | translate}}</p>
    <br>
    <br>
    <p>Website:</p>
    <a href="https://fonts.google.com/" target="_blank">https://fonts.google.com/</a>
    <br>
    <p class="plug-15">{{ 'privacy.plug-15' | translate}}</p>
    <a href="https://policies.google.com/privacy;" target="_blank">https://policies.google.com/privacy</a>
    <br>
    <p class="plug-16">{{ 'privacy.plug-16' | translate}}</p>
    <p>Data Privacy Framework (DPF), Data Privacy Framework (DPF). Weitere Informationen:</p>
    <a
        href="https://developers.google.com/fonts/faq/privacy?hl=de" target="_blank">https://developers.google.com/fonts/faq/privacy?hl=de</a>

    <br>
    <br>
    <a href="https://datenschutz-generator.de/"
        title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
        rel="noopener noreferrer nofollow" class="plug-17">{{ 'privacy.plug-17' | translate}}</a>
</section>
<app-footer></app-footer>