$bg-color: #FFFCF3;
$accent-green: #00BC8F;
$black: #000000;
$accent-blue: #4B47FF;
$accent-orange: #FF9900;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
}