$bg-color: #FFFCF3;
$accent-green: #00BC8F;
$black: #000000;
$accent-blue: #4B47FF;
$accent-orange: #FF9900;
$alert-red: #E61C40;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
}

button {
    width: 220px;
    height: 68px;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 4px solid $black;
    font-family: Overpass;
    font-size: 23px;
    font-weight: 400;
    cursor: pointer;
    transition: scale 100ms ease-in-out;

    &:hover {
        transform: scalex(1.1);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFFCF3;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00BC8F;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

@media (max-width: 510px) {
    ::-webkit-scrollbar {
        display: none !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }
}

@keyframes epl-slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    50% {
        transform: translateX(-600px);
        opacity: 0.25;
    }

    75% {
        transform: translateX(-610px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-620px);
        opacity: 1;
    }
}

@keyframes join-slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    50% {
        transform: translateX(600px);
        opacity: 0.25;
    }

    75% {
        transform: translateX(610px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(620px);
        opacity: 1;
    }
}

@keyframes epl-slide-down {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        transform: translateY(310px);
        opacity: 0.25;
    }

    75% {
        transform: translateY(320px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(330px);
        opacity: 1;
    }
}

@keyframes join-slide-down {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        transform: translateY(310px);
        opacity: 0.25;
    }

    75% {
        transform: translateY(320px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(330px);
        opacity: 1;
    }
}