<section>
    <div class="polygon-div">
        <div class="logo"><img src="../../../assets/img/mylogo_footer.png"></div>
        <div class="footer-small-div">
            <p class="mail"><a href="#">{{ email }}</a></p>
            <div class="social-icons-div">
                <a class="social-icon" target=”_blank” href="https://github.com/Seidocan"><img
                        src="assets/icons/github_button.png"></a>
                <a class="social-icon" target=”_blank” href="mailto:marco.marrocu@hotmail.de"><img
                        src="assets/icons/email_button.png"></a>
                <a class="social-icon" target=”_blank” href="#"><img src="assets/icons/linkedin_button.png"></a>
            </div>
        </div>
    </div>
</section>